<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}{% if page.title %} - {% endif %}Lucas Cherkewski</title>
        <meta name="viewport" content="width=device-width">

        <script type="text/javascript" src="//use.typekit.net/svi3vxs.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!-- build:css({app,.tmp}) /css/stylin.css -->

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/stylin.css">
        <!-- endbuild -->

    </head>
    <body>
      <header class="page-head" role="banner">
        <div class="wrapper">
          <nav class="site-nav">
            <a class="site-nav__home" href="/">Lucas Cherkewski</a>
            <ul class="site-nav__list">
              <li><a class="site-nav__item" href="/writing/">Journal</a></li>
              <li><a class="site-nav__item" href="/reading/">Reading</a></li>
              <li><a class="site-nav__item" href="/about/">About</a></li>
            </ul>
          </nav>
        </div>
      </header>

      {{ content }}

    <!-- build:js(app) /js/scripts.js -->
    <script src="/js/main.js"></script>
    <!-- endbuild -->
    </body>
</html>
