<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}{% if page.title %} - {% endif %}Lucas Cherkewski</title>
        <meta name="viewport" content="width=device-width">

        <script type="text/javascript" src="//use.typekit.net/svi3vxs.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!-- build:css({app,.tmp}) /css/stylin.css -->

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/stylin.css">
        <!-- endbuild -->

    </head>
    <body>
      <div class="site-wrap">
        <header role="banner">
          <div class="header-wrap">
            <a class="main-image" href="/">
              <img src="/img/site/headshot-sidebar.jpg">
              <b>Lucas<br> Cherkewski</b>
            </a>

            <div class="header-nav">
              <nav>
                <a href="/writing/">Journal</a>
                <a href="/reading/">Reading</a>
                <a href="/library/">Library</a>
                <a href="/about/">About</a>
              </nav>
            </div>
          </div>
        </header>

        {{ content }}
      </div>

    <!-- build:js(app) /js/scripts.js -->
    <script src="/js/main.js"></script>
    <!-- endbuild -->
    </body>
</html>
