<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}{% if page.title %} - {% endif %}Lucas Cherkewski</title>
        <meta name="viewport" content="width=device-width">

        <script type="text/javascript" src="//use.typekit.net/svi3vxs.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!-- build:css({app,.tmp}) /css/stylin.css -->

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/stylin.css">
        <!-- endbuild -->

    </head>
    <body>
      <div class="site-wrap">
        <header role="banner">
          <div class="header-wrap">
            <a class="header__name" href="/">
              Lucas<br> Cherkewski
            </a>

            <p class="header__bio">
              I’m a designer. That means I come up with solutions. Whether it’s by creating a print project, playing with pixels, or by, my favourite, writing words, my job is to use whichever tool is most appropriate to solve the problem at hand.
            </p>

            <nav class="header__menu">
              <ul>
              <li><a href="/writing/">Journal</a></li>
              <li><a href="/reading/">Reading</a></li>
              <li><a href="/about/">About</a></li>
              </ul>
            </nav>
          </div>
        </header>

        {{ content }}
      </div>

    <!-- build:js(app) /js/scripts.js -->
    <script src="/js/main.js"></script>
    <!-- endbuild -->
    </body>
</html>
