<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<title>Articles - Lucas Cherkewski</title>
	
	<link rel="stylesheet" href="css/style.css">
	
	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

<div id="container">
	<header>
		<a href="/">Lucas Cherkewski</a>
	</header>
	
	<section>		
		<ol id="article-list">
			<li>
				<h2 class="article-listing-header"><a href="article.html" title="Our Changing Mindset">Our Changing Mindset</a></h2>
				
				<p>A deep analysis of how various communication inventions of the 20<sup>th</sup> century have led to our current society to interact in ways very different than ever before. <a href="article.html" title="Our Changing Mindset">Read the full article</a>.</p>
			</li>
			<li>
				<h2 class="article-listing-header"><a href="article.html" title="The Value of Volunteering">The Value of Volunteering</a></h2>
				
				<p>An essay on the incredible benefits of volunteering, and why students in high school should be forced to volunteer more than they do currently. <a href="article.html" title="The Value of Volunteering">Read the full article</a>.</p>
			</li>
			<li>
				<h2 class="article-listing-header"><a href="article.html" title="Looper: A Film Review">Looper: A Film Review</a></h2>
				
				<p>Time travel, intense action, mind-bending story elements, Bruce Willis, and Joseph Gordon-Levitt. What more could be said about the 2012 sci-fi movie <em>Looper</em>? <a href="article.html" title="Looper: A Film Review">Read the full article</a>.</p>
			</li>
			<li>
				<h2 class="article-listing-header"><a href="article.html" title="An Absence of Comments">An Absence of Comments</a></h2>
				
				<p>Comments are one of the most wonderful things about the internet; they provide a place for readers to voice their opinions on an article or piece of writing. Why, then, are there no comments on this website? <a href="article.html" title="An Absence of Comments">Read the full article</a>.</p>
			</li>
			<li>
				<h2 class="article-listing-header"><a href="article.html" title="Looper: A Film Review">How I Manage Reading on the Web</a></h2>
				
				<p>My reading system on the web consists of a blend of my multiple devices and a centralized article management system, Pocket. Here I describe how they all work together, and where I find all the content I read. <a href="article.html" title="How I Manage Reading on the Web">Read the full article</a>.</p>
			</li>
		</ol>
	</section>
</div>

<footer>
	<a href="/">These blatherings &copy; <strong>Lucas Cherkewski</strong>.</a>
</footer>

</body>
</html>