<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<title>Contact Me - Lucas Cherkewski</title>
	
	<link rel="stylesheet" href="css/style.css">
	
	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

<div id="container">
	<header>
		<a href="/">Lucas Cherkewski</a>
	</header>
	
	<section>
		<article>
			<h1>Get in Touch</h1>
			
			<p>Hey! Let us talk. I love communicating with people, I believe discussion is one of the foundations of success within the world.</p>
			
			<h2>Contact</h2>
			
			<p>You can email me using the following email address: <a href="mailto:&#108;&#117;&#099;&#097;&#115;&#064;&#101;&#099;&#117;&#115;&#116;&#111;&#109;&#046;&#099;&#097;">&#108;&#117;&#099;&#097;&#115;&#064;&#101;&#099;&#117;&#115;&#116;&#111;&#109;&#046;&#099;&#097;</a>. This is the best way to contact me, and as such, the only method which I list.</p>
			
			<p>You can usually expect a response from me in a day or two, if it takes longer than that your message may not have gotten through (spam filter or email malfunction) or I may be composing a response which requires extra time than a quick message.</p>
			
			<p>Please keep the following guidelines in mind when you email me. It makes the conversation much better for both of us.</p>
			
			<h2>Guidelines</h2>
			
			<p>When emailing me, please include your name so that I can address you appropriately when responding.</p>
			
			<p>I am open to hearing from people for just about any reason, some of the most common being:</p>
			
			<ul>
				<li>A project idea</li>
				<li>Hiring me as a developer</li>
				<li>A comment about one of my articles</li>
			</ul>
			
			<p>There are some things I will not tolerate, so if I see any of the following in a message, chances are it will be ignored:</p>
			
			<ul>
				<li>Any illegal content or discussion</li>
				<li>Any slanderous content</li>
				<li>Anything downright rude or offensive</li>
			</ul>
		</article>
	</section>
</div>

<footer>
	<a href="/">These blatherings &copy; <strong>Lucas Cherkewski</strong>.</a>
</footer>

</body>
</html>