<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<title>Lucas Cherkewski</title>
	
	<link rel="stylesheet" href="css/style.css">
	
	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

<div id="container">
	<header>
		<a href="/">Lucas Cherkewski</a>
	</header>
	
	<section>
		<div class="about-me">
			<h2 class="section-header"><a href="about.html" title="About Me">About Me</a></h2>
			
			<p>I am Lucas Cherkewski, a student, a developer, and a <a href="http://xkcd.com/747/">nerd/geek</a>. A lover of open-source, the power of data, and public transit. An appreciator of &ldquo;old&rdquo; music, of simplicity, and of great food. My heroes are the people through history who have stuck to their beliefs, no matter the cost, and the people who toil to make the lives of others better without appreciation. You can read up some more about me on my <a href="about.html" title="About Me">page About Me</a>.</p>
		</div>
		
		<div class="writing">
			<h2 class="section-header"><a href="articles.html" title="Articles">My Writing</a></h2>
			
			<p>I write and publish my work here for you to read, if you so wish. Fair warning, I speak my mind and voice my opinions. Please feel free to disagree and to <a href="contact.html">share your disagreement with me</a>. That said, you can find my writing on my <a href="articles.html" title="Articles">Articles page</a>.</p>
		</div>
		
		<div class="work">
			<h2 class="section-header"><a href="solutions.html" title="Solutions">My Solutions</a></h2>
			
			<p>I help people by creating solutions to problems on the web. It is incredibly rewarding and I enjoy every minute of it. You can find a selection of my work on my <a href="solutions.html" title="Solutions">Solutions page</a>.</p>
		</div>
		
		<div class="contact">
			<h2 class="section-header"><a href="contact.html" title="Contact">Contact</a></h2>
			
			<p>I am interested in whatever you have to say. If you wish to get in touch, you can contact me in various ways from my <a href="contact.html" title="Contact">Contact page</a>.
		</div>
	</section>
</div>

<footer>
	<a href="/">These blatherings &copy; <strong>Lucas Cherkewski</strong>.</a>
</footer>

</body>
</html>