<footer class="site-footer grid grid-col-3" role="contentinfo">
	<div class="container">
		<div class="grid-module grid-2-3">
			<p><a href="https://twitter.com/lchski">Follow me on twitter</a> or <a href="mailto:lucas@ecustom.ca">email me</a>.</p>

			<p class="copyright">&copy; 2013 Lucas Cherkewski. I approve of most of these messages.</p>
		</div>
		<div class="grid-module">
			<ul class="networks">
				You can also find me here:
				
				<li><a href="https://github.com/asdfgh746">Github</a></li>
				<li><a href="https://secure.flickr.com/photos/lchski/">Flickr</a></li>
				<li><a href="/feed.xml">RSS</a></li>
			</ul>
		</div>
	</div>
</footer>