<article>
	<h1><%= @item[:title] %></h1>
	
	<%= yield %>
	
	<% if @item[:created_at] %>
		<small>Published on the <%= number_to_ordinal(@item[:created_at].strftime('%d')) %> of <%= @item[:created_at].strftime('%B, %Y') %>.</small>
	<% end %>
	
	<h2 class="feed-pimp-header">Questions, Comments, Concerns?</h2>
	<p class="feed-pimp">Send me a message through <a href="https://twitter.com/lchski">Twitter (@lchski)</a>.</p>
	
	<h2 class="feed-pimp-header"><a href="http://feedburner.google.com/fb/a/mailverify?uri=lucascherkewski&amp;loc=en_US" title="Subscribe - FeedBurner">Subscribe for More</a></h2>
	<p class="feed-pimp">Like what you just read? <a href="http://feedburner.google.com/fb/a/mailverify?uri=lucascherkewski&amp;loc=en_US" title="Subscribe - FeedBurner">Subscribe to my articles by email</a>. I promise I won't spam you with silly stuff; you get just what you see above.</p>
</article>