<article itemscope itemtype="http://schema.org/Article">
	<h1 itemprop="name" class="article-title"><%= @item[:title] %></h1>
	
	<div itemprop="articleBody"><%= yield %></div>
	
	<% if @item[:created_at] %>
		<p class="article-information">Published on the <time itemprop="datePublished" datetime="<%=@item[:created_at].strftime('%Y-%m-%d %H:%M%:z') %>"><%= number_to_ordinal(@item[:created_at].strftime('%d')) %> of <%= @item[:created_at].strftime('%B, %Y') %></time>.</p>
	<% end %>

	<p class="visually-hidden">
		By <a href="/"><span itemprop="author">Lucas Cherkewski</span></a>.
	</p>
</article>
	
<%= render '_twitter-blurb' %>

<p class="article-feed-subscribe"><a href="http://feedburner.google.com/fb/a/mailverify?uri=lucascherkewski&amp;loc=en_US">Get articles via email</a>.</p>
