<%= yield %>
<ol id="article-list">
	<% sorted_articles.each do |i| %>
	<% if i[:published] == true %>
	<li>
		<h2 class="article-listing-header"><%= link_to i[:title], i %></h2>
		<% if i[:summary] %>
			<p><%= i[:summary] %> <% if i[:custom_link] %><%= link_to i[:custom_link], i %><% else %><%= link_to "Read the full article", i %><% end %>.</p>
		<% else %>
			<p><%= i.compiled_content %></p>
		<% end %>
	</li>
	<% end %>
	<% end %>
</ol>
<h2 class="feed-pimp-header"><a href="http://feedburner.google.com/fb/a/mailverify?uri=lucascherkewski&amp;loc=en_US" title="Subscribe - FeedBurner">Subscribe for More</a></h2>
<p class="feed-pimp"><a href="http://feedburner.google.com/fb/a/mailverify?uri=lucascherkewski&amp;loc=en_US" title="Subscribe - FeedBurner">Subscribe to my articles by email</a>. I promise I won't spam you with silly stuff; you get just what you see above.</p>