<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width">

		<title>Lucas Cherkewski</title>

		<link rel="author" href="https://plus.google.com/112187539887795208885">

		<script type="text/javascript" src="//use.typekit.net/jaw1rum.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<link rel="stylesheet" href="/assets/css/screen.css">

		<!--[if lt IE 9]>
			<script src="/assets/js/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<%= render '_page-header' %>
		<div id="main" role="main">
			<%= yield %>
		</div>
		<%= render '_page-footer' %>

		<script type="text/javascript">
		  var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-15908755-1"]),_gaq.push(["_trackPageview"]),function(){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)}();
		</script>
	</body>
</html>