<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width">

		<title><%= title 'Lucas Cherkewski', @item[:title], 'Lucas Cherkewski' %></title>

		<link rel="author" href="https://plus.google.com/112187539887795208885">
		<link rel="alternate" type="application/atom+xml" title="Lucas Cherkewski" href="/feed.xml">

		<script type="text/javascript" src="//use.typekit.net/jaw1rum.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<link rel="stylesheet" href="/assets/css/screen.css">
		<% if @item[:stylesheet] %><link rel="stylesheet" href="/assets/css/<%= @item[:stylesheet] %>"><% end %>

		<link rel="icon" href="/assets/img/favicon.png">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:creator" content="@lchski">
		<meta name="twitter:title" content="<%= title 'Lucas Cherkewski', @item[:title], 'Lucas Cherkewski' %>">
		<% if @item[:summary] %><meta name="twitter:description" content="<%= @item[:summary][0..199] %>"><% end %>

		<% if @item[:summary] %><meta name="description" content="<%= @item[:summary][0..199] %>"><% end %>

		<!--[if lt IE 9]>
			<script src="/assets/js/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="wrapper">
			<%= render '_page-header' %>
			<div id="site-main" role="main">
				<div class="container">
					<%= yield %>
				</div>
			</div>
			<%= render '_page-footer' %>
		</div>

		<% if @item[:js] %><script src="/assets/js/<%= @item[:js] %>"></script><% end %>
		<script type="text/javascript">
		  var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-15908755-1"]),_gaq.push(["_trackPageview"]),function(){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)}();
		</script>
	</body>
</html>