html {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

@mixin primary-text-face() {
  font-family: "chaparral-pro", Georgia, serif;
}

@mixin secondary-text-face() {
  font-family: "effra", sans-serif;
}
