header[role="banner"] {
  .main-image {
    display: block;
    width: 100%;
    padding: 1rem;

    background:
      linear-gradient(
        rgba($bright, 0.75),
        rgba($bright, 0.75)
      ),
      repeating-linear-gradient(
        to right,
        $red,
        $red 1em,
        $dark 1em,
        $dark 2em,
        $brown 2em,
        $brown 3em,
        $grey 3em,
        $grey 4em
      );
  }
}
