header[role="banner"] {
  .main-image {
    display: block;
    width: 100%;
    padding: 1rem;

    background:
      linear-gradient(
        rgba($dark, 0.2),
        rgba($dark, 0.2)
      ),
      repeating-linear-gradient(
        to right,
        $red,
        $red 10px,
        $brown 10px,
        $brown 20px,
        $bright 20px,
        $bright 30px,
        $grey 30px,
        $grey 40px
      );
  }
}
