@import "../_bower_components/normalize.scss/normalize";
@import "vars";
@import "global";

.site-wrap {
  display: flex;

  flex-flow: row wrap;
}

header, main {
  flex: 0 0 100%;
}

@import "header";
