@import "../_bower_components/normalize.scss/normalize";
@import "vars";
@import "global";

.site-wrap {
  display: flex;

  flex-flow: row wrap;
}

header, main {
  flex: 1 1 100%;
}

@media (min-width: $header-sidebar-switch) {
  main {
    flex: 1 1;
  }
}

@import "header";
