footer.site-footer {
	@include sans-serif-font(1);

	background: $black;
	color: $white;

	.container {
		padding-top: 1rem;
		padding-bottom: 1rem;
		@include clearfix();
	}

	p {
		@include font-size(1);
	}

	a {
		color: $orange;

		&:hover {
			text-decoration: none;
		}
	}
	
	.networks {
		@include font-size(1);
		margin-top: 1rem;

		li {
			display: inline-block;
			list-style: none;

			&:after {
				content: ',';
			}

			&:last-child:after {
				content: '.';
			}
		}

		@include bp(xray) {
			margin-top: 0;
			float: right;
		}
	}

	.copyright {
		margin-top: 1rem;
	}
}