.grid {
	width: 100%;
	clear: both;
	float: left;
}

.grid-module {
	position: relative;
	margin-left: 0;
	width: 100%;
	float: left;
	display: inline-block;
}

.grid-col-3 {
	@include bp(gamma) {
		.grid-module {
			width: 30%;
			margin-right: 5%;

			&:last-child {
				margin-right: 0;
			}
		}

		.grid-2-3 {
			width: 65%;
		}
	}
}