header.site-header {
	@include sans-serif-font(1);

	background: $black;
	color: $white;

	padding-top: 1rem;
	padding-bottom: 1rem;

	text-align: center;

	width: 100%;

	a {
		color: $white;
		text-decoration: none;

		&:hover {
			color: $orange;
			text-decoration: underline;
		}

		&.name {
			@include font-size(2);
			color: $white;

			&:hover {
				color: $orange;
			}

			@include bp(xray) {
				float: left;
				line-height: 4rem;
			}
		}
	}

	nav {
		ul {
			@include bp(xray) {
				float: right;
				line-height: 4rem;
			}
		}

		li {
			list-style: none;
			display: inline-block;
			margin-right: 2rem;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	@include bp(xray) {
		text-align: left;

		@include clearfix();
	}
}