#site-main {
	background: $white;

	.container {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	h1 {
		@include font-size(3);
		margin-top: 2.5rem;
	}

	h1.article-title {
		@include font-size(4);

		line-height: 1.2;
		margin-bottom: 1.5rem;

		a {
			color: $black;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	h2 {
		line-height: 1.1;
		margin: 2.5rem 0 1rem 0;
	}

	h3 {
		@include sans-serif-font(2, true);
	}

	p {
		margin-bottom: 1.6rem;
		line-height: 1.4;

		&.article-intro {
			@include font-size(2);
			margin-bottom: 1.5rem;
			line-height: 1.3;

			@include bp(xray) {
				line-height: 1.4;
			}
		}

		&.article-information {
			@include font-size(-1);
		}

		&.article-feed-subscribe {
			@include sans-serif-font(2);
		}

		@include bp(xray) {
			line-height: 1.5;
			margin-bottom: 2rem;
		}

		@include bp(microwave) {
			line-height: 1.6;
			margin-bottom: 2.4rem;
		}
	}

	code {
		background: $white - rgb(10, 10, 10);

		padding: 0.1rem;

		font-family: "Monaco", "Inconsolata", Consolas, monospaced;
		@include font-size(-1);
	}

	figure.block-quote {
			padding-left: 2rem;
			border-left: 0.5rem solid $blue;
		blockquote {
			@include serif-font(1, true);
		}

		figcaption {
			margin-top: 0.5rem;

			@include font-size(-1);

			cite {
				@include serif-font(false, true);
			}
		}
	}

	a {
		color: $blue;

		&:hover {
			text-decoration: none;
		}
	}

	ul, ol {
		margin-left: 2.5rem;
		margin-bottom: 1rem;
	}

	ul li {
		list-style-type: circle;
	}

	ol.article-list {
		margin: 0;
		list-style-type: none;

		h2 {
			margin: 2.5rem 0 1rem 0;

			a {
				color: $black;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	img {
		max-width: 100%;
	}
}