/* TYPOGRAPHIC SCALES
 *
 * 20px-base: http://modularscale.com/scale/?px1=20&px2=&ra1=1.25&ra2=0
 * 24px-base: http://modularscale.com/scale/?px1=24&px2=&ra1=1.25&ra2=0
 *
 * Increase base as we go up in screen size.
 * 
 */

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

@mixin sans-serif-font($size: 2, $italic: false, $bold: false) {
	font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	@include font-size($size);

	@if $italic {
		font-style: italic;
	}
	@else {
		font-style: normal;
	}

	@if $bold {
		font-weight: 700;
	}
	@else {
		font-weight: 400;
	}
}

@mixin serif-font($size: 1, $italic: false, $bold: false) {
	font-family: "prenton", sans-serif;
	@include font-size($size);

	@if $italic {
		font-style: italic;
	}
	@else {
		font-style: normal;
	}

	@if $bold {
		font-weight: 700;
	}
	@else {
		font-weight: 400;
	}
}

@mixin font-size($scalePosition, $sizeValue: false) {
	@if $sizeValue {
		font-size: $sizeValue + px;
		font-size: ($sizeValue / 10) + rem;
	}
	@else if $scalePosition == -1 {
		font-size: 0.8em;
	}
	@else if $scalePosition == 1 {
		font-size: 1em;
	}
	@else if $scalePosition == 2 {
		font-size: 1.25em;
	}
	@else if $scalePosition == 3 {
		font-size: 1.563em;
	}
	@else if $scalePosition == 4 {
		font-size: 1.953em;
	}
	@else if $scalePosition == 5 {
		font-size: 2.441em;
	}
}