// Various important bits
@import "_normalize";
@import "_base";
@import "_grid";
@import "_type";

// Page Sections
@import "_header";
@import "_main";
@import "_footer";

body {
	@include serif-font();
}

h1, h2, h3, h4, h5, h6 {
	@include sans-serif-font();
}

.container {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	font-size: 18px;

	@include bp(gamma) {
		padding-left: 10%;
		padding-right: 10%;
	}

	@include bp(xray) {
		font-size: 20px;
		padding-left: 15%;
		padding-right: 15%;
	}

	@include bp(ultraviolet) {
		padding-left: 27.5%;
		padding-right: 27.5%;
	}

	@include bp(visible) {
		font-size: 18px;
	}

	@include bp(infrared) {
		padding-left: 30%;
		padding-right: 30%;
	}

	@include bp(microwave) {
		padding-left: 32.5%;
		padding-right: 32.5%;
	}
}

html, body {
	height: 100%;
}

.wrapper {
	display: table;
	height: 100%;
	width: 100%;
}

#site-main {
	display: table-row;
	height: 100%;
}

footer.site-footer {
	display: table-row;
}