// Various important bits
@import "_normalize";
@import "_base";
@import "_grid";
@import "_type";

// Page Sections
@import "_header";
@import "_main";
@import "_footer";

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
	margin: 0;
	padding: 0;
}

header, footer, nav, section, article, hgroup, figure {
	display: block;
}

html {
	font-size: 10px; // Set 1rem to be equal to 10px, to be easier to work with.
}

.visually-hidden { /*http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/*/
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button {
	display: none !important;
}

body {
	@include serif-font();
}

h1, h2, h3, h4, h5, h6 {
	@include sans-serif-font();
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

.container {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	font-size: 16px;

	@include bp(gamma) {
		padding-left: 12.5%;
		padding-right: 12.5%;
	}

	@include bp(xray) {
		font-size: 18px;
		padding-left: 20%;
		padding-right: 20%;
	}

	@include bp(ultraviolet) {
		padding-left: 25%;
		padding-right: 25%;
	}

	@include bp(visible) {
		padding-left: 27.5%;
		padding-right: 27.5%;
	}

	@include bp(infrared) {
		padding-left: 30%;
		padding-right: 30%;
	}

	@include bp(microwave) {
		padding-left: 35%;
		padding-right: 35%;
	}
}

html, body {
	height: 100%;
}

.wrapper {
	display: table;
	height: 100%;
	width: 100%;
}

#site-main {
	display: table-row;
	height: 100%;
}

footer.site-footer {
	display: table-row;
}