// Various important bits
@import "_base";
@import "_normalize";
@import "_grid";
@import "_type";

// Page Sections
@import "_header";
@import "_main";
@import "_footer";

body {
	@include serif-font();
}

h1, h2, h3, h4, h5, h6 {
	@include sans-serif-font();
}

.container {
	padding: 0 1.5rem;
	font-size: 20px;

	@include bp(gamma) {
		padding: 0 10%;
	}

	@include bp(xray) {
		font-size: 22px;
		padding: 0 15%;
	}

	@include bp(ultraviolet) {
		padding: 0 25%;
	}

	@include bp(visible) {
		font-size: 24px;
	}

	@include bp(infrared) {
		padding: 0 30%;
	}

	@include bp(microwave) {
		padding: 0 32.5%;
	}
}