@import "_base";
@import "_type";

@import "_button";

#site-main {
	.work-callout {
		@include font-size(3);
		text-align: center;
		padding-bottom: 2rem;

		img {
			padding: 2rem 0;
			max-width: 50%;
		}

		p {
			margin-bottom: 0.5rem;
		}

		a {
			@include font-size(-1);
			margin-top: 1rem;
			color: $white;
		}
	}
}